{% extends 'members/base.html' %}
{% block content %}
<h2>{% if event %}Edit Event{% else %}Add Event{% endif %}</h2>
<form method="post">{% csrf_token %}
    <label for="id_name">Name:</label>
    {{ form.name }}<br>
    <label for="id_date">Date:</label>
    {{ form.date }}<br>  
    
    
    <label for="id_time_start">Start Time:</label>
    {{ form.time_start }}<br>
    <label for="id_time_end">End Time:</label>
    {{ form.time_end }}<br>
    
    <label for="id_location">Location:</label>
    {{ form.location }}<br>
    
    
    <label for="id_sport">Sport:</label>
    {{ form.sport }}<br>  
    
    <label for="id_players">Players:</label>
    {{ form.players }}
    <small style="display:block;color:#666;margin-bottom:12px;">Hold Ctrl (Cmd on Mac) to select several players or to deselect one.</small>
    
    <label for="id_description">Description:</label>
    {{ form.description }}<br>
    <button type="submit">Save</button>
</form>
<a href="{% url 'event_list' %}"class="button primary-action">Back to Events</a>

{% endblock %}