{% extends 'members/base.html' %}
{% block content %}
<h2>Add/Edit Event</h2>
<form method="post">{% csrf_token %}
    <label for="id_name">Name:</label>
    {{ form.name }}<br>
    <label for="id_date">Date:</label>
    {{ form.date }}<br>  
    
    
    <label for="id_time_start">Start Time:</label>
    {{ form.time_start }}<br>
    <label for="id_time_end">End Time:</label>
    {{ form.time_end }}<br>
    
    <label for="id_location">Location:</label>
    {{ form.location }}<br>
    
    
    <label for="id_sport">Sport:</label>
    {{ form.sport }}<br>  
    
    <label for="id_players">Add Players:</label>
    {{ form.players }}<br>  
    
    <label for="id_description">Description:</label>
    {{ form.description }}<br>
    <button type="submit">Save</button>
</form>
<a href="{% url 'event_list' %}"class="button primary-action">Back to Events</a>

{% endblock %}